public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Korotkov ilushkeens@gmail.com">
    <!-- icon & css-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/css/main.css?v=2ef59e9" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container"></div>
</header>
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__title">
                <h1>Test</h1>
              </div>
              <form class="index-serch-box">
                <fieldset class="index-serch-box__item">
                  <div class="button index-serch-box__button"><a href="#" v-on:click.prevent="searchAuthor">
                      <svg>
                        <use href="/image/icon/search.svg#search"></use>
                      </svg></a></div>
                  <input type="search" name="search" placeholder="Filter by author..." v-model="search">
                </fieldset>
              </form>
              <ul class="index-list">
                <li class="index-list__item" v-for="post in posts" v-cloak>
                  <div class="index-list__title"><a href="#">
                      <h4>{{ post.title }}</h4></a></div>
                  <div class="index-list__text">
                    <p>{{ post.body }}</p>
                  </div>
                  <div class="index-list__author"><a href="#">{{ user(post.userId).name }}</a></div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container"></div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=d82e7c5"></script><script defer src="/assets/js/main.js?v=ad4ae71"></script></body>
</html>

src/view/index.pug
extends include/main

block variables
  - let title='Test'

block content
  section#index
    .container
      .index.content
        .index__title
          h1 Test
        form.index-serch-box
          fieldset.index-serch-box__item
            .button.index-serch-box__button
              a(href='#' v-on:click.prevent='searchAuthor')
                svg
                  use(href='/image/icon/search.svg#search')
            input(type='search' name='search' placeholder='Filter by author...' v-model='search')
        ul.index-list
          li.index-list__item(v-for='post in posts' v-cloak)
            .index-list__title
              a(href='#')
                h4 {{ post.title }}
            .index-list__text
              p {{ post.body }}
            .index-list__author
              a(href='#') {{ user(post.userId).name }}
